language: ruby

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.8
  - 2.2.4
  - 2.3.0
  - ruby-head
  - jruby-19mode
  - jruby-9.0.5.0
  - rbx-19mode

before_install:
  - gem update --system
  - gem install bundler

install: bundle install

script: "bundle exec rake test:local"

matrix:
  allow_failures:
    - rvm: rbx-19mode
    - rvm: ruby-head

notifications:
  email:
    on_success: always
